.dashboard-main {
    background-color: var(--color-bg);
    flex-direction: row;
}

.dashboard-content-wrapper {
    margin-left: 280px;
    flex: 1;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: margin-left var(--duration-fast) var(--ease-standard);
}

.dashboard-content-main {
    position: relative;
}

.sidebar-is-collapsed .dashboard-content-wrapper {
    margin-left: 64px;
}



@media screen and (max-width: 1024px) {
    .dashboard-main {
        padding: 0;
    }

    .dashboard-content-wrapper {
        margin-left: 0;
        height: 100dvh;
        height: 100dvh;
        border-radius: 0;
        border: none;
    }

    .sidebar-is-collapsed .dashboard-content-wrapper {
        margin-left: 0;
    }
}
