.invitations-list{
    padding: 0.5rem;
    flex: 1;
    max-height: 300px;
}

.invitations-list-loading{
    padding: 0.5rem;
    min-height: 100px;
}

.invitation-list-empty{
    height: auto;
    padding: 2rem;
}