.avatar-stack{
    flex-direction: row-reverse;
}

.avatar-stack-item{
    margin-left: -0.5rem;
    border: 2px solid var(--color-bg);
}

.avatar-stack-item:last-child{
    margin-left: 0;
}

.avatar-stack-overflow {
    margin-left: -0.5rem;
    background: var(--color-surface-2);
    border: 2px solid var(--color-bg);
}
