.user-info-name {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.user-info-email {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-info-compact .user-info-email {
    display: none;
}
