.opencode/
server/storage/
client/release
client/src-tauri/target
client/src-tauri/gen
client/src-tauri/Cargo.lock
client/src-tauri/.cargo/
client/src-tauri/**/*.rs.bk

.ai-workflow/

# Logs
logs
*.log
npm-debug.log*
*.env

node_modules/

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo

reports/
