.editor-sidebar-option-container.selected {
    background-color: var(--color-surface-3);
}

.editor-sidebar-option-container:not(.selected):hover {
    background-color: var(--hover-bg);
}

.editor-sidebar-option-container {
    border-radius: var(--radius-full);
    flex: 1 0 auto;
    min-width: 130px;
    padding: 0 1rem;
    transition: .15s ease;
    height: 40px;
    cursor: pointer;
    white-space: nowrap;
}

.editor-sidebar-option-title {
    font-size: 0.875rem;
}
