.invitation-email-input{
    padding: 1rem;
    border-bottom: 1px solid var(--color-border-soft);
}

.invitation-email-input-field{
    flex: 1;
}

.invitation-email-input button {
    min-height: 2.75rem;
}
