.canvas-status-bar {
    width: calc(100% - max(12px, var(--canvas-right-overlay-size, 0px)));
    height: 28px;
    padding: 0 12px;
    overflow: scroll;
    gap: 12px;
}

.canvas-status-divider {
    width: 1px;
    height: 12px;
    background: var(--color-border-soft);
}
