.container-details-layout {
    background: var(--color-content-bg);
    height: 100%;
    min-height: 0;
}

.container-details-content-area {
    background: var(--color-content-bg);
    min-width: 0;
    min-height: 0;
    overflow: auto;
}
