NODE_ENV=development

# LOG_LEVEL: debug | error | info | warn
LOG_LEVEL=info

# Redis
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_DB=0

# MinIO
MINIO_ENDPOINT=
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# Server
SERVER_ENDPOINT=
SERVER_PORT=8000
SERVER_HOSTNAME=
SERVER_SCHEMA=http

# Client
CLIENT_HOST=
CLIENT_DEV_HOST=

# Smtp
SMTP_HOST=
SMTP_PORT=
SMTP_AUTH_USER=
SMTP_AUTH_PASSWORD=

# Mongo
MONGO_URI=
MONGO_AUTH_SOURCE=admin

PRODUCTION_DATABASE=voltcloud@production
DEVELOPMENT_DATABASE=voltcloud@development

# Keys
SSH_ENCRYPTION_KEY=

# Auth
JWT_EXPIRATION_DAYS=7d
SECRET_KEY=

# OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=/api/auth/github/callback

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=/api/auth/google/callback

MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_CALLBACK_URL=/api/auth/microsoft/callback

OAUTH_SUCCESS_REDIRECT=/auth/oauth/success