.dashboard-stat-skeleton {
    grid-column: span 3;
    padding: 1rem;
    min-height: 130px;
}

@media screen and (max-width: 1200px) {
    .dashboard-stat-skeleton {
        grid-column: span 6;
    }
}

@media screen and (max-width: 768px) {
    .dashboard-stat-skeleton {
        grid-column: span 12;
    }
}
